# Node
frontend/node_modules
frontend/.next

# Python
backend/.venv
backend/.python-packages/
backend/.python-packages314/
backend/uploads/
backend/processed/
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# OS
.DS_Store
